# These are your project's requirements and you should change them
# to meet any customizations you wish to implement

django
calloway
git+git://github.com/thauber/django-schedule.git#egg=schedule
-r calloway_reqs.txt
